
@font-face {
    font-family: Ruthie;
    src: url(../../assets/Ruthie-Regular.ttf);
}

@font-face {
    font-family: Inconsolata;
    src: url(../../assets/Inconsolata-VariableFont_wdth\,wght.ttf);
}


html,body {margin: 0; height: 100%; overflow: hidden}

.background{
position: fixed;
top: 0;
left:0;
width: 100%;
height:100%;
background-image: url(../../assets/aboutMe.jpg);
background-size: cover;
background-position:30%;
z-index: -1;
}


.photo1Location{
    position: absolute;
    top: 8%;
    right:5%;
}

.photo2Location{
    position:absolute;
    bottom: 6%;
    right:30.5%;
}

.frame{
    padding: 20px;
    background-color: rgba(190, 60, 81, 1);
    width: 375px;
    height: auto;
    border: 10px solid rgba(238, 105, 108, 1);
    border-radius: 50px;
}


.aboutMe{
    color: #FFF;
    font-family: Ruthie;
    top: 5%;
    right: 0;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(223, 134, 115, 0.69);
    text-shadow: 0 0 10px #E05100, 0 0 20px #E05100, 0 0 30px #E05100;

}


.textContainer{
    position: absolute;
    background-color: rgba(190, 60, 81, 1);
    width: 30%;
    height:auto;
    top: 11%;
    left: 11%;
    padding: 20px;
    border-radius: 50px;
    border: 10px solid rgba(238, 105, 108, 1);
}



.description{
    font-family: Inconsolata;
    left:10%;
    color: rgba(212, 212, 126, 1);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}





.diamondFrame{
    position: absolute;
    width: 250px;
    height: auto;
    left: -6%;
    bottom: 12%;
    transition: 0.5s ease;
    z-index: 3;
}

.redDiamond{
    position: absolute;
    width: 250px;
    height: auto;
    left: -6.25%;
    bottom: 12%;
    transition: 0.5s ease;
    z-index: 2;
}

.diamondFrame:hover{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(181deg) brightness(107%) contrast(102%) drop-shadow(50px 50px 60px rgba(255, 115, 80, 1));
    cursor: pointer;  
    transform: scale(1.25) 
}

.diamondFrame:hover ~ .redDiamond{
    transform: scale(1.25);
}
